name: dlang-adc-2025-phobos-std-typecons
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 15 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: dlang-community/setup-dlang@v1
    - name: 'Test Markdown'
      run: |
        dub run md --compiler=$DC -- articles/dlang-adc-2025-phobos-std-typecons.md
